<!DOCTYPE html>
<html>
  <head>
    <title>QI Test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/ol-geocoder@latest/dist/ol-geocoder.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/ol-geocoder"></script>
  </head>

  <body>
    <%= render 'shared/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid p-5">
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-3">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <%= link_to "Shared" %>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <%= link_to "Shared with me" %>
                  </div>
                </div>
                <hr>
                <div class="row">
                  <div class="col">
                    <%= link_to "All Users", users_path %>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-9">
            <%= yield %>
          </div>
        <% else %>
          <div class="col landing-page">
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
    <%= render 'shared/footer' %>
  </body>
</html>
